*
{
	padding: 0px;
	box-sizing: border-box;
	align-self: center;
}
body
{
	width: 100%;
	margin: 0;
	padding: 0;
	background: url("Fondo.png");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	align-items: center;
	align-content: center;
	align-self: center;
	text-align: center;
}

div.musica
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	width: 50%;
	padding: 10px 30px;
	border-radius: 20px;
	background-color: rgba(228, 228, 228, 0.1);
	align-self: center;
	margin-left: 25%;
}

#progreso
{
	appearance: none;
	-webkit-appearance: none;
	width: 100%;
	height: 7px;
	background: rgba(144, 116, 86, 0.4);
	border-radius: 4px;
	margin: 32px 0 24px;
	cursor: pointer;
}

#progreso::-webkit-slider-thumb {
	appearance: none;
	-webkit-appearance: none;
	background: rgba(144, 116, 86, 0.9);
	width: 16px;
	aspect-ratio: 1/1;
	border-radius: 50%;
	outline: 4px solid var(white);
	box-shadow: 0 6px 10px rgba(228, 228, 228, 0.3);
}

div.auto
{
	display: flex;
	justify-content: center;
}

.audio button {
	width: 50px;
	aspect-ratio: 1/1;
	margin: 20px;
	background-color: rgba(165, 165, 165, 0.3);
	color: white;
	border-radius: 50%;
	border: 1px solid white;
	outline: 0;
	font-size: 1.5rem;
	cursor: pointer;
}

.audio .control:hover {
	transform: scale(1.1);
}

.audio .playpause {
	transform: scale(1.2);
}

.audio .playpause:hover {
	transform: scale(1.3);
}

h1.titulo
{
	color: #607e4f;
	font-family: "Adelia";
	font-size: 70px;
	text-align: center;
	margin-top: 15px;
}

h2.titulo
{
	color: #907456;
	font-family: "Billion Dreams";
	font-size: 30px;
	text-align: center;
	margin-top: 0px;
}

div.mensaje
{
	width: 100%;
	height: 200px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: rgba(250, 250, 250, 0.01);
}

hr.arriba 
{
	width: 600px;
	height: 140px;
	background-image: url(LineaArriba.png);
	background-size: contain;
	margin-top: 0px;
	border-style: none;
}

	p.mensaje
	{
		color: black;
		font-family: "Better";
		font-size: 40px;
		text-align: center;
		margin-top: 10px;
		margin-left: 15%;
		margin-right: 15%;
		margin-bottom: 10px;
		opacity: 0.8;
	}

hr.abajo 
{
	width: 600px;
	height: 140px;
	background-image: url(LineaAbajo.png);
	background-size: contain;
	margin-top: 0px;
	border-style: none;
}

div.foto
{
	width: 100%;
	height: 800px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: rgba(250, 250, 250, 0.5);
}

div.invitar
{
	width: 46.16%;
	height: 450px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: rgba(280, 280, 280, 0.3);
}

	h1.invitar
	{
		color: #607e4f;
		font-family: "Better";
		font-size: 50px;
		text-align: center;
		margin-top: 15px;
	}

	h2.invitar
	{
		color: #607e4f;
		font-family: "Better";
		font-size: 40px;
		text-align: center;
		margin-top: 15px;
	}

	img#fotoU
	{
		height: 800px;
	}

	div.centrar
	{
		text-align: center;
	}

	hr.centrar 
	{
		width: 200px;
		height: 54px;
		background-image: url(Linea.png);
		background-size: contain;
		margin-top: 0px;
		border-style: none;
	}

hr.division 
{
	color: rgba(198, 198, 198, 1);
	size: 4px;
	width: 100px;
	margin-top: 10px;
}

	h3.invitar
	{
		color: black;
		font-family: "Calibri Light";
		font-size: 20px;
		text-align: center;
		margin-top: 10px;
		margin-left: 15px;
		margin-right: 15px;
		opacity: 0.8;
	}


h1.cuenta
{
	color: #607e4f;
	font-family: "Cream";
	font-size: 70px;
	text-align: center;
	margin-top: 15px;
}

div#cuenta
{
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
	width: 100%;
}

.simply-section
{
	background-color: rgba(139, 139, 139, 0.4);
	width: 13.85%;
	height: 120px;
	margin:  10px 20px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.simply-amount
{
	display: block;
	font-family: "Cream";
	font-size: 50px;
	text-align: center;
	color: #607e4f;
}

.simply-word
{
	display: block;
	font-family: "FrancesFree";
	font-size: 30px;
	text-align: center;
	color: #607e4f;
}

div.fotoF
{
	width: 100%;
	height: 300px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	text-align: center;
	background-color: rgba(250, 250, 250, 0.5);
	align-content: center;
	display: flex;
	justify-content: center;
	clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 76% 76%, 50% 85%, 28% 75%, 0% 75%);
}

	div.fotoD
	{
		background-image: url(Foto2.jpg);
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		height: 300px;
		width: 26.92%;
	}

div.papas
{
	width: 100%;
	height: 700px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	text-align: center;
}

	h1.papas
	{
		color: #607e4f;
		font-family: "Chocolate";
		font-size: 45px;
		text-align: center;
		margin-top: 20px;
	}

	h3.papas
	{
		color: black;
		font-family: "Thankyou", black;
		font-size: 30px;
		text-align: center;
		margin-top: 10px;
		margin left: 15px;
		margin-right: auto;
	}


div.acompanar {
 	width: 100%;
	height: 500px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	text-align: center;
	background-color: white;
	border-width: 0.5px;
	border-color: black;
	border-style: solid;
}

	h1.acompanar {
		opacity:  0.7;
		color: #607e4f;
		font-family: "Better", bold;
		font-size: 60px;
		text-align: center;
		margin-top: 30px;
	}

	div.compania1 {
		background-image: url(Iglesia.jpeg);
		background-position: center;
		width: 40%;
		height: 300px; 
		border: 0px;
		margin-top: 5px;
		margin-left: 6.5%;
		margin-right: 0%;
		float: left;
		text-align: center;
		background-color: white;
		box-shadow: 0px 0px 10px 3px gray;
		-webkit-box-shadow: 0px 0px 10px 3px gray;
		-moz-box-shadow: 0px 0px 10px 3px gray;
	}
	div.compania2 {
		background-image: url(Salon.jpeg);
		background-position: center;
		width: 40%;
		height: 300px; 
		border: 0px;
		margin-top: 5px;
		margin-left: 6.5%;
		margin-right: 0%;
		float: left;
		text-align: center;
		background-color: white;
		box-shadow: 0px 0px 10px 3px gray;
		-webkit-box-shadow: 0px 0px 10px 3px gray;
		-moz-box-shadow: 0px 0px 10px 3px gray;
	}
		h2.ceremonias
		{
			color: black;
			opacity:  10;
			font-family: "Corbel", bold;
			font-size: 30px;
			text-align: center;
			margin-top: 5px;
			opacity: 1;
		}

		h3.ceremonias
		{
			font-family: "Corbel Light", bold;
			color: black;
			opacity: 10;
			font-size: 20px;
			text-align: center;
			margin-top: 5px;
			background-color: rgba(255, 255, 255, 0.15);
		}

		button.ubicacion
		{
			background-color: #dbc7aa;
			border-radius: 10px;
			width: 150px;
			height: 50px;
			font-family: "Corbel Light";
			font-size: 20px;
			border-style: none;
		}

		button.ubicacion:hover
		{
			background-color: #cda073;
			border-radius: 10px;
			width: 150px;
			height: 50px;
			font-family: "Corbel Light";
			font-size: 20px;
			border-style: none;
		}

div.confirmar
{
	width: 46.15%;
	height: 600px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	text-align: center;
	background-color: rgba(280, 280, 280, 0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #42ADFF;
}

	h1.confirmar
	{
		color: #607e4f;
		font-family: "Cream";
		font-size: 80px;
		text-align: center;
		margin-top: 15px;
	}

	h2.confirmar
	{
		color: #607e4f;
		font-family: "Better";
		font-size: 40px;
		text-align: center;
		margin-top: 15px;
	}

	h3.confirmar
	{
		color: black;
		font-family: "Calibri Light";
		font-size: 20px;
		text-align: center;
		margin-top: 10px;
		margin-left: 50px;
		margin-right: 50px;
		opacity: 0.8;
	}

	button.confirmar
	{
		background-color: #dbc7aa;
		border-radius: 10px;
		width: 200px;
		height: 50px;
		font-family: "Corbel Light";
		font-size: 20px;
		border-style: none;
	}

	button.confirmar:hover
	{
		background-color: #cda073;
		border-radius: 10px;
		width: 200px;
		height: 50px;
		font-family: "Corbel Light";
		font-size: 20px;
		border-style: none;
	}

div.pie
{
	width: 77%;
	height: 850px; 
	border: 0px;
	margin-top: 5px;
	margin-left: 11.5%;
	margin-right: 11.5%;
	margin-bottom: 50px;
	float: left;
	text-align: center;
	background-color: white;
	box-shadow: 0px 0px 10px 3px gray;
	-webkit-box-shadow: 0px 0px 10px 3px gray;
	-moz-box-shadow: 0px 0px 10px 3px gray;
	align-self: center;
}

	img#pie {
		background-size: 100% 100%;
		box-sizing: border-box;
		margin-left: 80px;
		width: 291px;
		height: 450px;
		border-radius: 10em 15em 10em 15em;
		margin-right: auto;
		margin-left: auto;
	}

h5.pie {
	color: hsl(0, 0%, 50%);
	font-family: "Arial";
	font-size: 10px;
	text-align: right;
	margin-bottom: 5px;
	margin-right: 10px;
}

h1.despedida
{
	color: #607e4f;
	font-family: "Adelia";
	font-size: 50px;
	text-align: center;
	margin-top: 15px;
}


div#Sobre
{
	width: 100%;
	height: 800px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: rgba(250, 250, 250, 0.5);
}














@font-face
{
	font-family: "Better";
	src: url(better.ttf);
}

@font-face
{
	font-family: "Cream";
	src: url(Cream_Cake.ttf);
}

@font-face
{
	font-family: "FrancesFree";
	src: url(Frances_Free.ttf);
}

@font-face
{
	font-family: "Chocolate";
	src:  url("Chocolate.ttf");
}

@font-face
{
	font-family: "Thankyou";
	src: url("Thankyou.ttf");
}

@font-face
{
	font-family: "Billion Dreams";
	src: url("BillionDreams.ttf");
}

@font-face
{
	font-family: "Adelia";
	src: url("adelia.ttf");
}

@font-face
{
	font-family: "Aston Script";
	src: url("AstonScript.ttf");

}
